html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    touch-action: none;
}

#root {
    height: 100%;
    width: 100%;
}

#field {
    border: 1px solid black;
    left: 0;
    top: 0;
}

#add-container {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid #4D4D4D;
    display: flex;
    align-items: center;
    justify-content: center;
}

.piece {
  width: 50px;
  height: 50px;
  left: 0px;
  top: 0px;
  border-radius: 25px;
  background: radial-gradient(circle at 20px 20px, #f00, #000);
  position: absolute;
  user-select: none;
}
.innert {
    position: inherit;
}